!/llvm/
/llvm/*
!/llvm/tools/
/llvm/tools/*
!/llvm/tools/CMakeLists.txt

!/build/
/build/*
!/build/cmake_gen_projects.bat

!/clang/
/clang/*
!/clang/tools/
/clang/tools/*
!/clang/tools/CMakeLists.txt
!/clang/examples/
/clang/examples/*
!/clang/examples/CMakeLists.txt

/cmake/